<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fosung.lighthouse.manage.common">

    <application
        android:allowBackup="true"
        android:label="@string/app_name_common"
        android:supportsRtl="true">

        <activity android:name=".activity.FosungCommonWebAct" android:label="@string/title_common_web">

            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.FosungCommonWebAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.FosungCommonWebAct"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.FosungCommonWebAct"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.FosungCommonWebAct"
                    android:scheme="https" />
            </intent-filter>

        </activity>

    </application>

</manifest>