<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fosung.lighthouse.test"
    android:installLocation="internalOnly">
    <!-- harmony-->
    <uses-feature
        android:name="zidane.software.ability"
        android:required="false" />
    <!-- harmony-->
    <!-- 必选-->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <!-- 用户手机设置中允许未知来源安装包安装状态为关；-->
    <!-- Android8.0 以后，如果要安装 apk 需要额外添加权限：-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!-- 在 屏幕最顶部显示addview-->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--tools:replace="android:theme,label,name"-->
    <!--    android:name="com.sairobo.hexiangketang.MyApplication"-->
    <!--    android:theme="@style/AppThemeCommon"-->
    <application
        android:name="com.fosung.lighthouse.test.YewuApplicationAndroid"
        android:allowBackup="false"
        android:allowNativeHeapPointerTagging="false"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="${app_icon}"
        android:label="${app_name}"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase2"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,HardcodedDebugMode"
        tools:replace="android:allowBackup,android:label"
        tools:targetApi="n">
        <!--        harmonybufen-->
        <meta-data
            android:name="permZA"
            android:value="true" />
        <meta-data
            android:name="multiFrameworkBundle"
            android:value="true" />
        <!--        应用自启-->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="PGYER_API_KEY"
            android:value="8bd21fed5150eab87567cbcfb6ed8a46" />
        <meta-data
            android:name="PGYER_FRONTJS_KEY"
            android:value="915cc59990d465a96f64493b25ef1a80" />

        <!--添加新版本检测-->
        <meta-data
            android:name="PGYER_FEATURE_CHECK_UNPDATE"
            android:value="true" />

        <!-- Optional 微信分享回调,wxapi必须在包名路径下，否则回调不成功-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.fosung.lighthouse.test"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <!--        <meta-data-->
        <!--            android:name="JPUSH_CHANNEL"-->
        <!--            android:value="developer-default"-->
        <!--            tools:replace="android:value" />-->
        <!--        <meta-data-->
        <!--            android:name="JPUSH_APPKEY"-->
        <!--            android:value="b5333edf8469ecdec9d3ad73"-->
        <!--            tools:replace="android:value" />-->
        <meta-data
            android:name="JSHARE_PKGNAME"
            android:value="${JSHARE_PKGNAME}" />
        <meta-data
            android:name="JPUSH_PKGNAME"
            android:value="${JPUSH_PKGNAME}" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}"
            tools:replace="android:value" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}"
            tools:replace="android:value" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <!-- 这个 Demo 主要展示副单位的用法, 如果只使用副单位 (pt、in、mm) 就可以直接以像素作为单位填写设计图的尺寸, 不需再把像素转化为 dp-->
        <!--下面是美工根据iphoneX给出的px-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <!--适配华为刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!--允许绘制到oppo、vivo刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.8" />
    </application>
</manifest>