<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappumengstatistics">
    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibappumengstatistics"
        android:supportsRtl="true">
        <!--&lt;!&ndash; Required  . Enable it you can get statistics data with channel &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="UMENG_CHANNEL"-->
        <!--android:value="developer-default" />-->
        <!--<meta-data-->
        <!--android:name="UMENG_APPKEY"-->
        <!--android:value="5e7ed2ac59ab107e12531b5f" />-->
        <!--&lt;!&ndash;  </>值来自开发者平台取得的AppKey&ndash;&gt;-->
    </application>
</manifest>
