<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.commonlibs.libupdateapputilsnew">

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="@string/AppThemelibupdateapputilsnew"
        android:supportsRtl="true">
        <activity
            android:name="ui.JavaDemoActivity"
            android:taskAffinity="${applicationId}.hs.act.slbapp.JavaDemoActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.JavaDemoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.JavaDemoActivity"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.JavaDemoActivity"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.JavaDemoActivity"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="ui.UpdateAppActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivityTheme" />

        <service android:name="update.UpdateAppService" />
    </application>
</manifest>