<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swipebacklayout">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
<!--        android:theme="@style/AppThemeSwipeBackLayout"-->
        <activity
            android:name=".demo.SwipebacklayoutDemoActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SwipebacklayoutDemoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
