<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.slbappsplash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mi.SplashApplication"
        android:allowBackup="true"
        android:label="@string/app_nameappsplash"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase"
        tools:replace="android:label">
        <activity android:name="mi.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.WelComeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HXKTThemeSplash">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.WelComeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/geek/welcome"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/geek/welcome"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/geek/welcome"
                    android:scheme="https" />
            </intent-filter>

            <!--            &lt;!&ndash;jpush applink&ndash;&gt;-->
            <!--            <intent-filter>-->
            <!--                <data android:scheme="geek001"/>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->
            <!--            </intent-filter>-->
            <!--            &lt;!&ndash;jpush applink&ndash;&gt;-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="bfxhqt.jglinks.cn"-->
            <!--                    android:path="/welcome"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".welcome.SplshActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SplshActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.AdActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".welcome.HIOSAdActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/HXKTThemeSplash2">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.HIOSAdActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HIOSAdActivityBeifen"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.HIOSAdActivityBeifen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HIOSAdActivityLinshi"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="hs.act.slbapp.HIOSAdActivityLinshi" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HIOSAdActivityLinshi2"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.slbapp.HIOSAdActivityLinshi2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
