<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fosung.lighthouse.yonghudenglu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mi.YonghudengluApplication"
        android:allowBackup="true"
        android:label="@string/app_name_yonghudenglu"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase"
        tools:replace="android:label">
        <!-- 固定设置一个默认的别名，用来替代原Activity-->
        <activity-alias
            android:name="DefaultAlias"
            android:enabled="true"
            android:icon="@drawable/slb_run1"
            android:label="@string/app_name_yonghudenglu"
            android:targetActivity="mi.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="mi.LauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".YonghudengluAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.YonghudengluAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.YonghudengluAct"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.YonghudengluAct"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.YonghudengluAct"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>