<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aigestudio.wheelpicker">
    <application
        android:allowBackup="true"
        android:label="@string/appnamelibwheelpicker"
        android:supportsRtl="true">
        <activity
            android:name=".WheelpickerActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.WheelpickerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>