<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappindex">

    <application
        android:allowBackup="true"
        android:label="@string/app_nameappindex"
        android:supportsRtl="true">
        <activity
            android:name="com.example.slbappindex.index.ShouyeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppThemeBase2">
            <!--            android:windowSoftInputMode="stateVisible|adjustPan"-->
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ShouyeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--Polyv TEST-->
        <activity android:name="com.example.slbappindex.polyv.PolyvActList1">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.PolyvActList1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--MOBID TEST-->
        <service
            android:name="com.example.slbappindex.services.MOBIDservices"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.example.slbappindex.services.MOBIDServicesBg" />
    </application>
</manifest>
