<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fosung.lighthouse.manage.index">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_nameappindex"
        android:supportsRtl="true">
        <activity
            android:name=".index.ShouyeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppThemeBase2">
            <!--            android:windowSoftInputMode="stateVisible|adjustPan"-->

            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ShouyeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--Polyv TEST-->
        <activity android:name=".polyv.PolyvActList1">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.PolyvActList1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--MOBID TEST-->
        <service
            android:name=".services.MOBIDservices"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".services.MOBIDServicesBg" />

        <activity android:name=".comact.ScanActivity">

            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.ScanActivity"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.ScanActivity"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.ScanActivity"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.IndexCommonWebAct" android:label="@string/index_title_common_webView">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.IndexCommonWebAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.IndexCommonWebAct"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.IndexCommonWebAct"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.IndexCommonWebAct"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".logindemo.LoginActDemo">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.LoginActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".logindemo.AdLoginActDemo">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.AdLoginActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logindemo.AdLoginImgActDemo"
            android:exported="false"
            android:theme="@style/ad_common_dialogstyle1">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.AdLoginImgActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
