<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fosung.lighthouse.vpndenglu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mi.VpndengluApplication"
        android:allowBackup="true"
        android:label="@string/app_name_vpndenglu"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase"
        tools:replace="android:label">

        <activity
            android:name="mi.LauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 固定设置一个默认的别名，用来替代原Activity -->
        <activity-alias
            android:name=".DefaultAlias"
            android:enabled="true"
            android:icon="@drawable/slb_run1"
            android:label="@string/app_name_vpndenglu"
            android:targetActivity="mi.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".VpndengluAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.VpndengluAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.VpndengluAct"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.VpndengluAct"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.VpndengluAct"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".DengLuActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.DengLuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.DengLuActivity"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.DengLuActivity"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:pathPattern="/${applicationId}.hs.act.slbapp.DengLuActivity"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>