<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libappmob">

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibappmob"
        android:supportsRtl="true">
<!--        <meta-data-->
<!--            android:name="com.mob.mobpush.debugLevel"-->
<!--            android:value="4" />-->

        <activity android:name="com.example.libappmob.MobshareActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MobshareActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.TestActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/geek/test"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/geek/test"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/geek/test"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
