<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.zxinglibs3">

    <application
        android:allowBackup="true"
        android:label="@string/app_namezxinglibs3"
        android:supportsRtl="true">
        <activity
            android:name=".SaomaAct3"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SaomaAct3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Saoma3CreateCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.Saoma3CreateCodeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Saoma3CommonScanActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.Saoma3CommonScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
