<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappindex">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.example.slbappindex.index.ShouyeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCommon">
            <!--            android:windowSoftInputMode="stateVisible|adjustPan"-->
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ShouyeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--MOBID TEST-->
        <service
            android:name="com.example.slbappindex.services.MOBIDservices"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.example.slbappindex.services.MOBIDServicesBg" />
    </application>
</manifest>
