<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libbase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibbase"
        android:supportsRtl="true">
        <activity android:name=".plugins.StubActivity"></activity>
        <activity android:name=".plugins2.ProxyActivity2"></activity>
        <activity
            android:name="com.example.libbase.agentwebview.activity.BasicsDisplayWebActDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.BasicsDisplayWebActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.libbase.agentwebview.activity.SmartRefreshWebActDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SmartRefreshWebActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.SmartRefreshWebActDemo"
                    android:scheme="dataability" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.SmartRefreshWebActDemo"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cs.znclass.com"
                    android:path="/${applicationId}.hs.act.slbapp.SmartRefreshWebActDemo"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.libbase.agentwebview.activity.JsWebActDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.JsWebActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.libbase.agentwebview.activity.TablayouActDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.TablayouActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".baserecycleview.yewu1.ActViewPageYewuList1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ActViewPageYewuList1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".baserecycleview.yewu2.ActYewuList1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ActYewuList1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.libbase.viewpager2.LunboMainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.LunboMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.libbase.viewpager2.ui.GalleryActivity" />
        <activity android:name="com.example.libbase.viewpager2.ui.TouTiaoActivity" />
        <activity android:name="com.example.libbase.viewpager2.ui.TVActivity" />
        <activity android:name="com.example.libbase.viewpager2.ui.RecyclerViewBannerActivity" />
        <activity android:name="com.example.libbase.viewpager2.ui.ConstraintLayoutBannerActivity" />
        <activity
            android:name="com.example.libbase.viewpager2.ui.Vp2FragmentRecyclerviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>
</manifest>