<!--
  ~ **********************************************************
  ~   author   colin
  ~   company  telchina
  ~   email    wanglin2046@126.com
  ~   date     18-1-9 下午2:46
  ~ *********************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcolin.gui.zrecyclerview">

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibzrecyclerView"
        android:supportsRtl="true">
        <activity
            android:name=".demo.ActYewu3"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ActYewu3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.EmptyViewLayoutActivity" />
        <activity android:name=".demo.SwipeMenuLayoutActivity" />
        <activity android:name=".demo.ScrollViewLayoutActivity" />
        <activity android:name=".demo.GridLayoutActivity" />
        <activity android:name=".demo.StaggeredLayoutActivity" />
        <activity android:name=".demo.MultiTypeLayoutActivity" />
        <activity android:name=".demo.DecorationActivity" />
        <activity android:name=".demo.DesignSupportActivity" />
        <activity android:name=".demo.FlexBoxLayoutActivity" />

    </application>
</manifest>
