<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbapppay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibapppay"
        android:supportsRtl="true">
        <activity
            android:name=".zfb.news.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_namelibapppay">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.PayDemoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zfb.news.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
    </application>
</manifest>
