<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haier.cellarette.baselibrary">

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="au.com.example.READ_CONTENT" />
    <uses-permission android:name="au.com.example.WRITE_CONTENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!--    定位权限bufen-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--    鸿蒙不支持bufen权限-->
    <!--    <uses-permission android:name="android.permission.SEND_SMS" />-->
    <!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />-->
    <!-- 短信验证登陆功能需要添加次权限来自动填充验证码，用不到可以去掉 -->
    <!--    <uses-permission android:name="android.permission.READ_SMS" />-->
    <!--    鸿蒙不支持bufen权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:label="@string/baselibraryappname"
        android:supportsRtl="true">
        <provider
            android:name="com.haier.cellarette.baselibrary.provider.BaselibFileProvider"
            android:authorities="${applicationId}.BaselibFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/baselib_file_paths" />
        </provider>

        <receiver android:name=".networkview.NetworkChangeListener" />

        <receiver android:name=".networkview.NetworkConnectChangedReceiver" />

        <service
            android:name="com.haier.cellarette.baselibrary.handleralluse.handler8.DownloadService"
            android:exported="false" />
        <service
            android:name=".musicutils.musicplayer.DemoMusicPlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".liandong.LiandongDemoAct"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.LiandongDemoAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quanxian.QuanxianActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.QuanxianActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".liandong.demo3.Liandong3Activity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.Liandong3Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".liandong.demo2.Liandong2Activity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.Liandong2Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".liandong.demo1.Liandong1Activity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.Liandong1Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".likebutton.LikeButtonActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.phone.likebutton" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.LikeButtonActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".handleralluse.handler"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="hs.act.phone.handler" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.handler" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".handleralluse.handler1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler7.handler7"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handleralluse.handler8.handler8"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emptyview.EmptyViewMainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.EmptyViewMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".networkview.NetEmptyViewMainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.networkview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".recycleviewmultitype.RecycleViewMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.RecycleViewMainActivity.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo1Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo1.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo2Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo2.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo3Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo3.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo4Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo4.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo5Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo5.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo6Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo6.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewmultitype.activitys.RecDemo7Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo7.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewmultitype.activitys.MoreApisPlayground"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.demo8.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".caranimation.CarAct"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.caranimation.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.BaeRecycleViewActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.recycleviewalluses.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo1baseadpterhelp.BaseRecActDemo1"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo11.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recycleviewalluses.demo2baseadpterhelp.BaseRecActDemo2"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo22.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recycleviewalluses.demo3baseadpterhelp.BaseRecActDemo3"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo33.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo4baseadpterhelp.BaseRecActDemo4"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo44.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo4baseadpterhelp.hunhe.BaseRecActDemo41"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo41.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo4baseadpterhelp.second.BaseRecActDemo42"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo42.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo5baseadpterhelp.BaseRecActDemo5"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo55.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo6baseadpterhelp.BaseRecActDemo6"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo66.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo7baseadpterhelp.BaseRecActDemo7"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo77.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo8baseadpterhelp.BaseRecActDemo8"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo88.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleviewalluses.demo9baseadpterhelp.BaseRecActDemo9"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.BaseRecActDemo99.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zuni.DemoZuniScrollViewActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.com.ZuniScrollViewAct.act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ringutil.RingActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.RingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".changelanguage.ChangeLanActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.changelanguage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".scrollview.ScrollViewAct"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.ScrollViewAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".anroomcrash.ANROOMCrashActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.anroomcrash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".musicutils.MusicActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.MusicActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".musicutils.musicplayer.DemoMusicActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.DemoMusicActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".assetsfitandroid.AssetsMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.AssetsMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bannerview.BannerViewDemoActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.BannerViewDemoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bannerviewquan.BannerDemoActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.BannerDemoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".assetsfitandroid.fileassets.FileAssetsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.FileAssetsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assetsfitandroid.fileandroid.FitAndroidActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.FitAndroidActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shoppingcar.ShoppingCarActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.ShoppingCarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".btnonclick.BtnActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.BtnActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toasts3.demo.MnMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.MnMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ratingstarview.PingfenMainActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.PingfenMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".marqueelibrary.ui.MarqueeViewLibraryAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.MarqueeViewLibraryAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".scardview.SCardViewAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.SCardViewAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".scardview.SCardViewAct1" />
        <activity android:name=".scardview.SCardViewAct2" />
        <activity android:name=".scardview.SCardViewAct3" />

        <activity android:name=".bigImageviewpager.BigImageViewPagerAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.BigImageViewPagerAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".expandabletextview.ExpandableTextViewAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.ExpandableTextViewAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".jianpan.JianpanAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.JianpanAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".expandabletextview.ShowInRecyclerViewActivity" />

        <activity
            android:name=".switchbutton.MainActivitySwitchButtonK"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.MainActivitySwitchButtonK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".switchbutton.StyleActivitySwitchButtonK"
            android:label="@string/title_activity_style"
            android:parentActivityName=".switchbutton.MainActivitySwitchButtonK">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".switchbutton.MainActivitySwitchButtonK" />
        </activity>
        <activity
            android:name=".switchbutton.UseActivitySwitchButtonK"
            android:label="@string/title_activity_use"
            android:parentActivityName=".switchbutton.MainActivitySwitchButtonK">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".switchbutton.MainActivitySwitchButtonK" />
        </activity>
        <activity
            android:name=".switchbutton.StyleInCodeActivitySwitchButtonK"
            android:label="@string/title_activity_style_in_code"
            android:parentActivityName=".switchbutton.MainActivitySwitchButtonK">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".switchbutton.MainActivitySwitchButtonK" />
        </activity>
        <activity
            android:name=".switchbutton.RecyclerActivitySwitchButtonK"
            android:label="@string/title_activity_recycler_view"
            android:parentActivityName=".switchbutton.MainActivitySwitchButtonK">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".switchbutton.MainActivitySwitchButtonK" />
        </activity>
        <activity android:name=".choutipop.ChoutiActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.ChoutiActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.CoordinatorLayoutAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct1" />
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct2" />
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct3" />
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct4" />
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct5" />
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct6" />
        <activity android:name=".coordinatorlayout.CoordinatorLayoutAct7" />

    </application>
</manifest>
