<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libappservices">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.example.libappservices.AppServicesActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MobshareActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MobUpdateServices"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MobUpdateServices" />
            </intent-filter>
        </service>
        <service android:name=".MobUpdateServicesBg" />
    </application>
</manifest>
