<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lljjcoder">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_nameCityPicker"
        android:supportsRtl="true">
        <activity android:name=".demo.CityPickerCustomeDataActivity"/>
        <activity
            android:name=".demo.CityMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.CityMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.CitypickerListActivity" />
        <activity android:name=".demo.CitypickerWheelActivity" />
        <activity android:name=".demo.CitypickerThreeListActivity" />
        <activity android:name=".demo.CitypickerJDActivity" />
        <activity
            android:name="com.lljjcoder.style.citylist.CityListSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name="com.lljjcoder.style.citythreelist.ProvinceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name="com.lljjcoder.style.citythreelist.CityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name="com.lljjcoder.style.citythreelist.AreaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
    </application>

</manifest>