<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geek.appplugin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mi.PluginApplication"
        android:allowBackup="true"
        android:label="@string/app_nameappplugin"
        android:supportsRtl="true"
        android:theme="@style/Theme.Geek"
        tools:replace="android:label">
        <activity android:name="mi.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main1Activity" />
        <!--        <activity android:name=".SearchListActivity">-->
        <!--            &lt;!&ndash;            android:windowSoftInputMode="stateVisible|adjustPan"&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="${applicationId}.hs.act.slbapp.SearchListActivity" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
    </application>
</manifest>
