<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fosung.xuanchuanlan"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="com.yuntongxun.plugin,com.yuntongxun.plugin.common" />
    <!-- 用于进行网络定位 -->
    <permission
        android:name="com.fosung.xuanchuanlan.permission.RECEIVE_MSG"
        android:protectionLevel="signature" /> <!-- 用于访问GPS定位 -->
    <permission
        android:name="com.fosung.xuanchuanlan.permission.INCOMING_CALL"
        android:protectionLevel="signature" /> <!-- 改变wifi状态，操作wifi进行连接断开等 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 操作键盘锁 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--
    这个权限用于进行网络定位
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    -->
    <!--
    这个权限用于访问GPS定位
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 融联start -->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.fosung.xuanchuanlan.permission.RECEIVE_MSG" />
    <uses-permission android:name="com.fosung.xuanchuanlan.permission.INCOMING_CALL" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 允许访问设备媒体信息 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- &lt;!&ndash; 允许程序修改全局音频设置 &ndash;&gt; -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 融联end -->
    <!-- 虹软权限               start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 虹软权限                end -->
    <!-- 腾讯x5               start -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.fosung.xuanchuanlan.common.app.ConfApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:theme,android:label"
        tools:targetApi="n">
        <service android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.XCLAdvertActivity" />
        <receiver
            android:name=".common.util.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.localprofile.activity.LocalProfileActivity"
            android:taskAffinity=".xuanchuanlan.notice.activity.LocalProfileActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.notice.activity.RedBackplaneDetailActivity" />

        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.XCLNoticeDetailActivity" />
        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.notice.activity.DynamicListActivity"
            android:taskAffinity=".xuanchuanlan.notice.activity.DynamicListActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.notice.activity.NoticeListActivity"
            android:taskAffinity=".xuanchuanlan.notice.activity.NoticeListActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.notice.activity.RedBackplaneListActivity"
            android:taskAffinity=".xuanchuanlan.notice.activity.RedBackplaneListActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.daketang.activity.DKTTopicDetailActivity" />
        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.XCLTravelActivity"
            android:taskAffinity=".xuanchuanlan.activity.XCLTravelActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.personalcenter.activity.XCLLogoutActivity" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.XCLNewsDynamicDetailActivity" />
        <!--        <activity android:name=".xuanchuanlan.main.activity.XCLNewsDynamicActivity" />-->
        <activity
            android:name="com.fosung.xuanchuanlan.mian.MainActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.fosung.xuanchuanlan.mian.activity.InitActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.InitActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.fosung.xuanchuanlan.mian.activity.VideoConferenceActivity" />
        <activity android:name="com.fosung.xuanchuanlan.setting.activity.LogoActivity" />
        <activity android:name="com.fosung.xuanchuanlan.setting.activity.UserCenterActivity" />
        <activity android:name="com.fosung.xuanchuanlan.setting.activity.WifiListActivity" />
        <activity
            android:name="com.fosung.xuanchuanlan.mian.activity.VoidActivityDetail"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.fosung.xuanchuanlan.mian.activity.VideoActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.fosung.xuanchuanlan.mian.activity.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <!--        <activity android:name=".mian.activity.FaceActivity" />-->
        <!--        <activity android:name=".mian.activity.FaceNumberActivity" />-->
        <!--        <activity-->
        <!--            android:name=".mian.activity.Face_collect_Activity"-->
        <!--            android:screenOrientation="landscape" />-->
        <!--        <activity-->
        <!--            android:name=".mian.activity.FaceComparisonActivity"-->
        <!--            android:screenOrientation="landscape" />-->
        <!--        <activity android:name="com.arcsoft.arcface.PreviewActivity" />-->
        <activity
            android:name="com.fosung.xuanchuanlan.mian.activity.TestWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.personalcenter.activity.LoginActivity" />
        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.daketang.activity.DKTMainActivity"
            android:taskAffinity=".xuanchuanlan.daketang.activity.DKTMainActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.personalcenter.activity.PersonalCenterActivity" />
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.XCLMainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.fosung.xuanchuanlan.xuanchuanlan.main.activity.XCLWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:taskAffinity=".xuanchuanlan.main.activity.XCLWebActivity"
            android:theme="@style/TranslucentFullScreenTheme" />

        <!--        <category android:name="android.intent.category.BROWSABLE" />-->
        <!--        <category android:name="android.intent.category.DEFAULT" />-->

        <!--        <data-->
        <!--            android:host="114.215.241.17"-->
        <!--            android:pathPrefix="/test/"-->
        <!--            android:scheme="youhuijstoapp" />-->

        <meta-data
            android:name="DEBUG_LOG"
            android:value="true" />
        <meta-data
            android:name="LOG_LEVEL_JAVA"
            android:value="1" />
        <meta-data
            android:name="TRACE_LOG"
            android:value="true" />
        <meta-data
            android:name="CORE_LOG"
            android:value="false" />
        <meta-data
            android:name="SDK_LOG"
            android:value="true" />
        <meta-data
            android:name="LOG_LEVEL"
            android:value="15" />
        <meta-data
            android:name="LOG_PATH"
            android:value="/hardware/output/sdk" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider> <!-- <provider -->
        <!-- android:name=".xuanchuanlan.contentprovider.UserInfoContentProvider" -->
        <!-- android:authorities="com.fosung.xuanchuanlan.providers.userinfoContentProvider" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"></provider> -->
        <!--        <receiver-->
        <!--            android:name=".service.YuntxNotifyReceiver"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                // 接收push消息-->
        <!--                // action匹配规则{packageName + ".action" + "功能"}-->
        <!--                // com.yuntongxin.pluginexample 替换成自己的报名-->
        <!--                <action android:name="com.fosung.xuanchuanlan.action.VOIP_CALL" />-->
        <!--                <action android:name="com.fosung.xuanchuanlan.action.MESSAGE" />-->
        <!--                <action android:name="com.fosung.xuanchuanlan.action.NOTIFICATION_CLICK" />-->
        <!--                <action android:name="com.fosung.xuanchuanlan.action.PERSON_VERSION" />-->
        <!--                // 这个配置是容联IM专有的配置，其他应用集成的时候可以忽略-->
        <!--                <action android:name="com.fosung.xuanchuanlan.action.SOFT_UPDATER" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <!--        <service-->
        <!--            android:name=".service.YuntxNotifyReceiver$NotifyService"-->
        <!--            android:exported="false" />-->

        <!-- x5内核加载优化   在AndroidManifest.xml中增加内核首次加载时优化Service声明；
            该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束。 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>