<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.easecallkit">
    <application>
        <activity android:name=".ui.EaseMultipleVideoActivity"/>
        <activity android:name=".ui.EaseVideoCallActivity" />
    </application>
</manifest>