<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neplugin">

    <application
        android:allowBackup="true"
        android:label="@string/app_name_neplugin"
        android:supportsRtl="true">
        <activity android:name=".MyPluginActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MyPluginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>