<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappcomm">

    <!--<permission-->
    <!--android:name="slb.Huyanservices"-->
    <!--android:description="@string/app_name"-->
    <!--android:label="@string/app_name"-->
    <!--android:protectionLevel="normal" />-->
    <!--需要硬件支持低功耗蓝牙-->
    <uses-feature android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--Android 5.0以上蓝牙好需要位置权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="andriod.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="au.com.example.READ_CONTENT" />
    <uses-permission android:name="au.com.example.WRITE_CONTENT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--打电话广播-->
    <!--    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!--监听电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:label="@string/app_nameslbappcomm"
        android:supportsRtl="true">
        <activity
            android:name=".uploadimg.UploadImgMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.UploadImgMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--        <activity-->
        <!--            android:name=".pop.bottompay.PaysuccessActivity"-->
        <!--            android:exported="false"-->
        <!--            android:screenOrientation="portrait">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="hs.act.slbapp.PaysuccessActivity" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity
            android:name=".uploadimg.ClipImageActivity"
            android:exported="false"
            android:theme="@style/Theme.ImagePreview" />
        <activity
            android:name=".pop.huodong.AdCommActivity"
            android:exported="false"
            android:theme="@style/ad_common_dialogstyle1">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.AdCommActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pop.huodong.AdCommImgActivity"
            android:exported="false"
            android:theme="@style/ad_common_dialogstyle1">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.AdCommImgActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videoplay.VideoPlayActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.VideoPlayActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videoplay.quxiantu.QuxiantuActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.QuxiantuActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uploadimg2.UploadPicActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.UploadPicActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rili.RiliActDemo"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.RiliActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".saoma.SaomaActDemo"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SaomaActDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".saoma.demo1.SaomaAct"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SaomaAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".saoma.demo2.SaomaAct2"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SaomaAct2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".saoma.demo2.SaomaAct2FragmentActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.SaomaAct2FragmentActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />

        <activity
            android:name=".saoma.demo1.EasyCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />
        <activity
            android:name=".saoma.demo1.CustomCaptureActivity"
            android:theme="@style/CaptureTheme" />

        <activity
            android:name=".saoma.demo1.CaptureFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />

        <activity
            android:name=".saoma.demo1.CustomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />

        <activity
            android:name=".saoma.demo1.CodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewpage1.ViewPage1MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ViewPage1MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpage1.ViewPage1TabActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ViewPage1TabActivity" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name=".baserecycleview.yewu3.ActYewu3"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ActYewu3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".baserecycleview.yewu3.EmptyViewLayoutActivity" />
        <activity android:name=".baserecycleview.yewu3.SwipeMenuLayoutActivity" />
        <activity android:name=".baserecycleview.yewu3.ScrollViewLayoutActivity" />
        <activity android:name=".baserecycleview.yewu3.GridLayoutActivity" />
        <activity android:name=".baserecycleview.yewu3.StaggeredLayoutActivity" />
        <activity android:name=".baserecycleview.yewu3.MultiTypeLayoutActivity" />
        <activity android:name=".baserecycleview.yewu3.DecorationActivity" />
        <activity android:name=".baserecycleview.yewu3.DesignSupportActivity" />
        <activity android:name=".baserecycleview.yewu3.FlexBoxLayoutActivity" />

        <activity
            android:name=".jingchengbaohuo.JingChengActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.JingChengActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".jingchengbaohuo.demo1.JingChengActivity1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.JingChengActivity1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jingchengbaohuo.demo1.OnePiexlActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:process=":OnePiexlActivity"
            android:theme="@style/liveActivityStyle">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.OnePiexlActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".jingchengbaohuo.demo2.JingChengActivity2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.JingChengActivity2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clickeffect.ClickEffectDemo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ClickEffectDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragmentsgeek.demo1.MkDemo1Activity" />
        <activity android:name=".fragmentsgeek.demo2.MkDemo2Activity" />
        <!--demo2 config start-->
        <meta-data
            android:name="DEMO2_CONFIG"
            android:value="${DEMO2_CONFIG_VALUE}" />
        <meta-data
            android:name="STATISTICS"
            android:value="${STATISTICS_VALUE}" />
        <!--demo2 config end-->

        <!--demo3 config start-->
        <activity android:name=".fragmentsgeek.demo3.MkDemo3Activity" />
        <meta-data
            android:name="DEMO3_CONFIG"
            android:value="${DEMO3_CONFIG_VALUE}" />
        <!--demo3 config end-->

        <!--demo4 config start-->
        <activity android:name=".fragmentsgeek.demo4.MkDemo4Activity" />
        <meta-data
            android:name="DEMO4_CONFIG"
            android:value="${DEMO4_CONFIG_VALUE}" />
        <!--demo4 config end-->
        <activity android:name=".fragmentsgeek.demo5.MkDemo5Activity" />
        <activity android:name=".fragmentsgeek.NkMainActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.NkMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.libbase.zhiwen.ZhiwenAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ZhiwenAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".huxiview.HuxiAct">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.HuxiAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpager.ui.LXCoolMainActivity">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.LXCoolMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".viewpager.ui.ActivityOrientation" />
        <activity android:name=".viewpager.ui.ActivityEdgeEffectColor" />
        <activity android:name=".viewpager.ui.EnableNotifyActivity" />
        <activity android:name=".viewpager.ui.ActivityAutoScroll" />
        <activity android:name=".viewpager.ui.ActivityPageTransformer"/>
        <activity android:name=".viewpager.ui.SupportViewPagerActivity"/>
        <activity
            android:name=".viewpager.ui.CustomErrorActivity"
            android:label="@string/error_title"
            android:process=":error_activity">
            <!-- You can also use this instead of using CustomActivityOnCrash.setErrorActivityClass(CustomErrorActivity.class); -->
            <!-- <intent-filter> -->
            <!-- <action android:name="cat.ereza.customactivityoncrash.ERROR" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!--services部分-->
        <service
            android:name="com.example.slbappcomm.huyan.Huyanservices"
            android:exported="false">
            <intent-filter>
                <action android:name="hs.act.slbapp.Huyanservices" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!--android:permission="slb.Huyanservices"-->
        <!--android:process=":Huyanservices"-->
        <service
            android:name="com.example.slbappcomm.huyan.HuyanservicesBg"
            android:exported="false" />

        <!--        <service-->
        <!--            android:name=".playermusic.ListenMusicPlayerService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false" />-->
        <!--        <service android:name=".playermusic.ListenMusicPlayerServicesBg" />-->

        <service
            android:name="com.example.gsydemo.bt.BleService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.example.gsydemo.bt.BleServicesBg"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".phonebroadcastreceiver.PhoneBroadcastReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <!--主动打电话时,发送的广播-->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <!--电话状态改变时,发送的广播 (振铃,挂断,接通)-->
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".phonebroadcastreceiver.PhoneService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".phonebroadcastreceiver.PhoneServiceBg" />
        <!--        <service-->
        <!--            android:name=".services.UpdataCommonservices"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false" />-->
        <!--        <service android:name=".services.UpdataCommonservicesBg" />-->

    </application>
</manifest>
